<div class="article">
    <h2><%= @post.title %></h2>
    <span><%= @post.created_at.to_date.strftime("%d %B, %Y ") %></span>
    <% if user_signed_in? && current_user.admin?%>
      |
      <%= link_to 'Изменить', edit_admin_post_path(@post) %>
      |
      l<%= link_to 'Удалить', admin_post_path(@post), method: :delete, data: { confirm: 'Вы уверены?' } %>
    <% end %>
    <p>
      <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
      <%= @post.body.html_safe %>
    </p>
</div>
<div class="comments">
  <%= render 'disqus' %>
</div>
