<!DOCTYPE html>
<html>
  <head>
    <title>Руби, рельсы, рок-н-ролл!!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content-wrapper">
    <div class="navigation">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><span>Главная</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Обо мне</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span>Услуги</span></a>
          </li>
          
          <% if user_signed_in? %>
          <li class="nav-item">
            <span><%= link_to 'Новая статья', new_post_path, class: 'nav-link' %></span>
          </li>
          <li class="nav-item">
            <span><%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link' %></span>
          </li>
          <% else %>
          <li class="nav-item">
            <span><%= link_to 'Вход', new_user_session_path, class: 'nav-link' %></span>
          </li>
          <li class="nav-item">
            <span><%= link_to 'Регистрация', new_user_registration_path, class: 'nav-link' %></span>
          </li>
          <% end %>

        </ul>

    </div>
    <div class="header">
        <h1><a href="/">Руби, рельсы, рок-н-ролл!!!</a></h1>
        <span>Пилю веб-приложения на RoR и пишу об этом)</span>
    </div>
    <div class="blog">
      <div class="row">
        <% flash.each do |name, message|%>
          <div class="alert <%= class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>

    </div>
    <div class="about">
          <h3>Об авторе</h3>
            <!-- <img src="images/ava.jpg"> -->
          <p>
              Привет! Меня зовут Александр Левашов. В 30 лет я
              решил изменить свою жизнь, освоив новую профессию
              веб-разработчика. На страницах этого блога я рассказываю
              о том, как иду по этому сложному, но интересному пути.
          </p>
    </div>
    <div class="footer">
          <p>Alevashov.ru, 2017</p>
    </div>
  </div>
  <script id="dsq-count-scr" src="//alevashov.disqus.com/count.js" async></script>
  </body>
</html>
